@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: "SatoshiRegular";
  src: url("../assets/fonts//satoshi/Satoshi-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SatoshiBold";
  src: url("../assets/fonts//satoshi/Satoshi-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SatoshiMedium";
  src: url("../assets/fonts//satoshi/Satoshi-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SatoshiLight";
  src: url("../assets/fonts//satoshi/Satoshi-Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SatoshiBlack";
  src: url("../assets/fonts//satoshi/Satoshi-Black.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.sreg {
  font-family: 'SatoshiRegular';
}

.sl {
  font-family: 'SatoshiLight';
}

.sm {
  font-family: 'SatoshiMedium';
}

.sb {
  font-family: 'SatoshiBold';
}

.sd {
  font-family: 'SatoshiBlack';
}

body {
  color: rgb(var(--foreground-rgb));
  background: #1C2127;
  font-family: 'SatoshiRegular';
}